h1{
    font-size: 50px;
}
.mission-2022-color{
    color: orange;
}

.flexiable-section{
display: flex;
margin-bottom: 10%;
}

.half-width{
    width:40%;
    padding-left: 1%;
}

.half-width img{
    width: 100%;
    padding-left: 150px;
}
.explore-now-link{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 21px;
    border-radius: 7px;
}
.header-two{
    text-align: center;
}
.year{
    color: orange;
}