h1{
    font-size: 50px;
}
.mission-2022-color{
    color: orange;
}

.flexiable-section{
display: flex;
margin-bottom: 10%;
}

.half-width{
    width:40%;
    padding-left: 1%;
}

.half-width img{
    width: 100%;
    padding-left: 150px;
}
.explore-now-link{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 21px;
    border-radius: 7px;
}
.header-two{
    text-align: center;
}
.year{
    color: orange;
}
.three-div{
    width: 30%;
    padding-left: 1%;
    margin-left: 5%;
    margin-right: 5%;
    
}
#mission{
background-color: gray;
border-radius: 15px;
}
#vission{
background-color: indianred;
border-radius: 15px;
}
#goals{
background-color: navajowhite;
border-radius: 15px;
}
.three-div img{
    width: 30%;
    padding-left: 3px;
}