h1{
    font-size: 50px;
}
.mission-2022-color{
    color: orange;
}
.border-color{
    border-left: 10px solid;
    border-color: red;
    
 
}

.flexiable-section{
display: flex;
margin-bottom: 10%;
}

.half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img{
    width: 60%;
    padding-left: 20px;
    
}
.button-one{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 21px;
    border-radius: 7px;
    font-weight: 700;
}
.header-two{
    text-align: center;
}
.year{
    color: orange;
}
.three-div{
    width: 30%;
    padding-left: 1%;
    margin-left: 5%;
    margin-right: 5%;
    
}
#mission{
background-color: gray;
border-radius: 15px;
}
#vission{
background-color: indianred;
border-radius: 15px;
}
#goals{
background-color: navajowhite;
border-radius: 15px;
}
.three-div img{
    width: 50%;
    padding-left: 2px;
    
}
.button-two{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 21px;
    border-radius: 7px;
    font-weight: 700;
}
.background-image-one{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
}
.background-image-two{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: 19%;
}
    
.button-three{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 21px;
    border-radius: 7px;
    font-weight: 700;
}

.last-part{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.year-color-two{
    color: tomato;
}
.corona{
   color:midnightblue;
    background-image: url(images/shapes/shape-9.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 22%;
}
.stay-home{
    color: gold;
}